#mobile-development,
#web-development,
#software-development,
#robotics,
#automation-services {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .row {
    margin-bottom: 5%;
  }
}
.services-container{
  background-image: url('../../media/aboutBg.jpg');
  background-size:cover;
}